
.home-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .welcome-text {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size:30px;
    font-weight: bold;
    color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .text{
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:white;
    font-family: cursive;
    
  }
 